<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhi.mybatis.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO t_user (username, password, email, age) VALUES ('us', 'password', 'user1@example.com', 25)
    </insert>

    <update id="updateUser">
        UPDATE t_user
        SET password = 'newpassword'
        WHERE username = 'user1'
    </update>

    <delete id="deleteUser">
        delete from t_user where id = 5
    </delete>
    
    <select id="getUserById" resultType="User">
        select * from t_user where id = 3
    </select>

    <select id="getUserByUsername" resultType="User">
        select * from t_user where username = #{username}
    </select>

    <select id="login" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <select id="getAll" resultType="User">
        select * from t_user;
    </select>

    <insert id="saveUser">
        INSERT INTO t_user (username, password, email, age) VALUES (#{username}, #{password}, #{email}, #{age})
    </insert>
</mapper>
